---
import MainLayouts from "../layouts/MainLayout.astro";
// Server Only
const name = "Iosef Ayala";
---

<MainLayouts title="Home Page">
      <h1>{name}</h1>

    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-id">Momento actual real:</p>



    <script>
      const currentTimeParagraph = document.querySelector(
        "#current-id"
      ) as HTMLParagraphElement;

      const currentYear: number = new Date().getFullYear();

      currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;

      //Client Only
    </script>

</MainLayouts>
